In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Modified_data.csv')

In [3]:
df.head()

,Unnamed: 0,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,0,1,2009,Avatar,2.845900e+09,760507625.0,760507625.0
1,1,2,2019,Avengers: Endgame,2.797801e+09,858373000.0,858373000.0
2,2,3,1997,Titanic,2.207987e+09,659363944.0,659363944.0
3,3,4,2015,Star Wars Ep. VII: The Force Awakens,2.064616e+09,936662225.0,936662225.0
4,4,5,2018,Avengers: Infinity War,2.044541e+09,678815482.0,678815482.0