In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('Modified_data.csv')

In [9]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,0,0,1,2009,Avatar,2845899541,760507625.0,2085391916
1,1,1,2,2019,Avengers: Endgame,2797800564,858373000.0,1939427564
2,2,2,3,1997,Titanic,2207986545,659363944.0,1548622601
3,3,3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,936662225.0,1127953592
4,4,4,5,2018,Avengers: Infinity War,2044540523,678815482.0,1365725041